<section class="content">
    <p class="content__text">Show Results</p>
    <div id="map"></div>
    <script src="./script/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWRD4bqbsSjCp8tW4I4eTnI-npCx1zq8k&callback=initMap"
        async defer></script>
</section>