<form action="" class="form">
    <div class="form__wrap">
        <label for="" class="form__label">Location
                        </label>
        <select class="form__select">
            <option></option>
            <option>Пункт 2</option>
        </select>
    </div>
    <div class="form__wrap">
        <label for="" class="form__label">Category
                        </label>
        <select class="form__select">
            <option>Category</option>
            <option>Category1</option>
        </select>
    </div>
    <div class="form__wrap">
        <label for="" class="form__label">SubCategory
                        </label>
        <select class="form__select">
            <option>SubCategory</option>
            <option>SubCategory1</option>
        </select>
    </div>
    <div class="form__wrap">
        <label for="" class="form__label">Service
                        </label>
        <select class="form__select">
            <option>3 Service</option>
            <option>Пункт 2</option>
        </select>
    </div>
    <div class="form__wrap">
        <label class="form__label">Period
                        </label>
        <input class="form__input" id="data">
    </div>
    <button class="form__button">Search</button>
</form>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>