{% extends "./app/template/profile/base.njk" %}
{%block link%}
    <link rel="stylesheet" href="./stylesheet/accInfo.css">
{%endblock%}
{%block content%}
    <main class="main">
        <div class="main__wrap">
            {%include "./app/template/profile/nav.njk"%}
            <form action="" class="form">
                <div class="form__wrap">
                    <label for="" class="form__label">USERNAME</label>
                    <input type="text" class="form__input">
                </div>
                 <div class="form__wrap">
                    <label for="" class="form__label">E-MAIL</label>
                    <input type="text" class="form__input">
                 </div>
            </form>
            <div class="button">
                <a href="password-recovery" class="button__link">CHANGE PASSWORD</a>
            </div>
        </div>
    </main>
{%endblock%}