<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="https://home-work-9.herokuapp.com/siginIn">Sigin In</a>
    <a href="https://home-work-9.herokuapp.com/passwordRecovery">Password Recovery</a>
    <a href="https://home-work-9.herokuapp.com/passwordRecovery1">Password Recovery1</a>
    <a href="https://home-work-9.herokuapp.com/passwordRecovery2">Password Recovery2</a>
    <a href="https://home-work-9.herokuapp.com/siginUp">Sigin Up</a>
    <a href="https://home-work-9.herokuapp.com/siginUp1">Sigin Up1</a>
    <a href="https://home-work-9.herokuapp.com/siginUp2">Sigin Up2</a>
    <a href="https://home-work-9.herokuapp.com/personInfo">Person Info</a>
    <a href="https://home-work-9.herokuapp.com/accInfo">Acc Info (НЕ работает!)</a>
    <a href="https://home-work-9.herokuapp.com/search">Search</a>
    <a href="https://home-work-9.herokuapp.com/messenger">Messenger</a>
</body>
</html>