{% extends "./app/template/map/base.njk" %}
{%block content%}
<main class="main">
    <section class="main__wrap">
    {%include './app/template/map/form.njk'%}
    {%include './app/template/map/content.njk'%}
    </section>
</main>
{%endblock%}