{% extends "./app/template/siginIn/base.njk" %}
{%block link%}
    <link rel="stylesheet" href="./stylesheet/passwordRecovery2.css">
{%endblock%}
{%block contentHeader%}
    {%include "./app/template/siginIn/nothaveacc.njk"%}
{%endblock%}
{%block content%}
    <div class="main__wrap">
        <form action="" method="get" class="form">
            <h3 class="form__headline">Reset your password</h3>
            <input type="text" class="form__input" placeholder="New password">
            <input type="text" class="form__input" placeholder="Confirm password">
            <button class="form__button">Reset</button>
        </form>
    </div>
{%endblock%}