{% extends "./app/template/siginIn/base.njk" %}
{%block link%}
    <link rel="stylesheet" href="./stylesheet/passwordRecovery.css">
{%endblock%}
{%block contentHeader%}
    {%include "./app/template/passwordRecovery/backSiginIn.njk"%}
{%endblock%}
{%block content%}
    <div class="main__wrap">
        <form action="" method="get" class="form">
        <h3 class="form__headline">Enter your e-mail to reset your password</h3>
        <input type="text" class="form__input" placeholder="E-mail">
        <button class="form__button">Send</button>
        </form>
    </div>
{%endblock%}