{% extends "./app/template/search/base.njk" %}
{%block content%}
<main class="main">
    <section class="main__wrap">
    {%include './app/template/search/form.njk'%}
    {%include './app/template/search/people.njk'%}
    </section>
</main>
{%endblock%}
