{% extends "./app/template/siginUp/base.njk" %}
{%block link%}
    <link rel="stylesheet" href="./stylesheet/siginUp2.css">
{%endblock%}
{%block contentHeader%}
    {%include "./app/template/passwordRecovery/backSiginIn.njk"%}
{%endblock%}
{%block content%}
<img src="./img/MailCheck.svg" alt="" class="circles">
<img src="./img/Group.png" alt="mail" class="mail">
    <div class="content">
        <h2 class="content__headline">You are almost ready to go!</h2>
        <p class="content__text">
        Please check your email to reset your password
        </p>
    </div>
{%endblock%}