{% extends "./app/template/siginIn/base.njk" %}
{%block link%}
    <link rel="stylesheet" href="./stylesheet/siginIn.css">
{%endblock%}
{%block contentHeader%}
    {%include "./app/template/siginIn/nothaveacc.njk"%}
{%endblock%}
{%block content%}
    <div class="main__wrap">
        <form action="" method="get" class="form">
            <h3 class="form__headline">Sigin in</h3>
            <input type="text" class="form__input" placeholder="E-mail">
            <input type="text" class="form__input password" placeholder="Password">
            <a href="#" class="form__link"></a>
            <button class="form__button">Sigin in</button>
        </form>
    </div>
{%endblock%}