{% if not(title) %}
    {% set title = "Default title" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block link%}
    {%endblock%}
    <title>{{ title }}</title>
</head>
<body>
{%block aside%}
    {%include '../profile/aside.njk'%}
{%endblock%}
{%block header%}
    {%include '../profile/header.njk'%}
{%endblock%}
{%block content%}
    {%include './content.njk'%}
{%endblock%}
</body>
</html>