    {% if not(title) %}
{% set title = "Default title" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {%block link%}
    {%endblock%}
</head>
<body>
    <header class="header">
        {%block header%}
            {%include "./header.njk"%}
            {%block contentHeader%}
            {%endblock%}
        {% endblock %}
    </header>
    <main class="main">
        {%block content%}

        {%endblock%}
    </main>
</body>
</html>