<figure class="header__logo">
    <img src="./img/logo.png" alt="" srcset="">
</figure>
<div class="header__question">
    <p class="header__text">Already have an account?</p>
    <a href="siginIn" class="header__link">Log In</a>
</div>